.text-wrap h1 {
    font-family: 'NeoDunggeunmo';
    font-size: 108px;
    font-weight: bold;
    color: purple;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: typing 1.5s steps(19), blink .5s step-end infinite alternate;

  }

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
}
  
.text-wrap h3 {
    font-family: 'NeoDunggeunmo';
    font-size: 36px;
    font-weight: bold;
    color: thistle;
    text-align: center;

}